/* html {
    box-sizing: border-box;
  } */

  /* card-list */
  .title-broad{
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
    display: fixed;
    /* background-color: #ff595e; */
    box-shadow: 0px 2px 2px 0px #fff;  
    /* border-radius: 0% 0% 30% 30%;   */
    background-color: #13100D;
  }
  .title-heading{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    padding-bottom: 10px;
    color: #fff;
    /* text-shadow:
    0 0 5px #FFDF00,
    0 0 10px #FEF990 */
    text-shadow: 0px 0px 20px #00aad4;
  }
  .cards {
    --spacing: 25px;
    --columns: 3;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    padding: 20px;
    margin-top: 35px;
  }
  @media screen and (max-width: 1023px) {
    .cards {
      --columns: 2;
    }
  }
  @media screen and (max-width: 767px) {
    .cards {
      --spacing: 30px;
      --columns: 1;
    }
  }
  
  .card {
    /* border-radius: 20px; */
    overflow: hidden;
    
    box-shadow: rgba(19, 16, 13, 0.5) 0px 5px 10px 0px;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    border-radius: 30px;
  
  }
  .card-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
  .n1-level{
    border-top: 16px solid #ff595e;
  }
  .n2-level{
    border-top: 16px solid #ffca3a;
  }
  .n3-level{
    border-top: 16px solid #8ac926;
  }
  .n4-level{
    border-top: 16px solid #1982c4;
  }
  .n5-level{
    border-top: 16px solid #6a4c93;
  }
  .card-title-box {
    display: flex;
    border-bottom: 3px solid #eee;
    background-color: #F9F9F8;
  }
  .card-title {
    font-size: 25px;
    font-weight: 900;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-family: 'Rampart One', cursive;
    margin: 25px auto 25px auto;
    padding: 0 15px;
    color: #1b1b1b;
  }
  ion-icon {
    flex-shrink: 0;
    color: #3D9DEA;
    margin-right: 5px;
  }
  .card-language {
    display: flex;
    align-items: center;
    padding-left: 25px;
    max-height: 100px;
    flex-shrink: 1;
    flex-grow: 1;
    
  }
  .card-language-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    object-fit: cover;
    flex-shrink: 0;
  }
  .card-language-info {
    padding-left: 20px;
    padding-bottom: 10px;
    flex: 1;
  }
  .card-language-top {
    display: flex;
    align-items: center;
  }
  .card-language-name {
    font-weight: 500;
    font-size: 100%;
    line-height: 1;
    margin-block-start: 1rem;
    margin-block-start: 1rem;
  }
  .card-language-game {
    color: #D5E1EF;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .card-bottom {
    padding: 15px 20px;
    border-top: 1px solid rgb(238, 238, 238);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .card-use {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    flex-shrink: 0;
    margin-right: 10px;
    font-weight: 700;
  }
  .n1-box{
    background-color: #ff595e;
  }
  .n2-box{
    background-color: #ffca3a;
  }
  .n3-box{
    background-color: #8ac926;
  }
  .n4-box{
    background-color: #1982c4;
  }
  .n5-box{
    background-color: #6a4c93;
  }
  .card-use span {
    font-size: 14px;
  }
  .card-content {
    font-size: 13px;
    color: #D5E1EF;
    font-weight: 400;
  }
  .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .card-top {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: linear-gradient(90deg, #414850, #131720);
    /* padding: 25px; */
  }
  .card-language,
  .card-bottom {
    flex-shrink: 0;
    flex-grow: 1;
  }
  .card-bottom{
    /* background-color: #F2F2F2; */
    /* background-image: linear-gradient(
      90deg, #414850, #131720); */
      background-image: linear-gradient(90deg, #414850, #131720);
      
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .example-1{
    font-family: 'Noto Sans JP', sans-serif;
  }
  